body{
    background-color: #FAFAFA;
    position: relative;
    padding-bottom: 177px;
}

/*********Header************/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border-radius: 0 0 50px 50px;
    background-color: white;
    padding: 0 30px 10px 15px;
    box-shadow: 0 2px 2px -2px gray;;
}

.header-icon-cont{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 49px;
}

.header-icon{
    margin-left: 20px;
    text-align: center;
}

.zootopia-header{
    animation: cimcimi 3s infinite;
}

@keyframes cimcimi{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/************Main***********/



/*******Big Pug Slider*********/
.pug-slider{
    height: 280px;
    background-image: url('../images/pug1.png');
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    margin: 70px auto;
    align-items: center;
    border-radius: 10px;
}

.arrow-cont{
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pug-middle-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pug-txt{
    width: 344px;
    height: 82px;
    color: white;
    font-size: 24px;
    line-height: 29px;
    font-family: 'Nino';
    text-align: center;
}

.big-btn{
    width: 176px;
    height: 42px;
    background-color: #FFFFFF;
    margin-top: 30px;
    border: none;
}

.scroll{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 68px;
    margin-top: 40px;
}

.big-scroll{
    width: 28px;
    height: 5px;
    background-color: #FFFFFF;
}

.small-scroll{
    width: 12px;
    height: 5px;
    background-color: #FFFFFF;
    opacity: 50%;
}


/*********Colors**********/

.green-background{
    background-color: #F1F7E9;
    box-shadow: 0 18px 10px -10px rgba(116, 180, 44, 0.2);
}

.green-span{
    color: #74B42C;
}

.green{
    background-color: #E3F0D4;
}

.orange-background{
    background-color: #FEEFE8;
    box-shadow: 0 18px 10px -10px rgba(245, 98, 31, 0.2);
}

.orange-span{
    color: #F5621F;
}

.orange{
    background-color: #FDDFD2;
}

.blue-background{
    background-color: #EBF7FC;
    box-shadow: 0 18px 10px -10px rgba(60,171,224,0.2);
}


.blue-span{
    color: #3CABE0;
}

.blue{
    background-color: rgba(60,171,224,0.2);
}

.purple-background{
    background-color: #FAF4FA;
    box-shadow: 0 18px 10px -10px rgba(204,150,208,0.2);
}

.purple-span{
    color: #CC96D0;
}

.purple{
    background-color: rgba(204,150,208,0.2);
}

/**********4 Container***********/

.four-cont{
    display: flex;
    justify-content: space-evenly;
    width: 87%;
    margin: 0 auto;
}

.four-box{
    width: 277px;
    height: 90px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.four-box p{
    width: 118px;
    height: 31px;
    font-size: 14px;
    font-family: 'Nino';
}

.logo-cont{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/***********Between*************/
.between-page{
    display: flex;
    width: 87%;
    margin: 60px auto 30px auto;
    justify-content: space-between;
    align-items: center;
}

.header-p{
    font-size: 28px;
    font-family: 'Nino';
}

.small-header-p{
    color: #9C9C9C;
    font-size: 14px;
    font-family: 'Nino';
}
.between-page img{
    display: none;
}

/***********Prudoct section*********/

.product-div{
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 378px);
    grid-template-rows: repeat(2, 200px);
    gap: 26px;
    width: fit-content;
}

.orange-div{
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 10px;
    position: relative;
    background-color: #F5621F;
    /* width: 378px;
    height: 426px; */
    color: white;
}

#p-small{
    position: absolute;
    font-size: 14px;
    font-family: 'Nino';
    left: 40px;
    top: 72px;
    color: white;
}

#p-big{
    position: absolute;
    font-size: 24px;
    font-family: 'Nino';
    top: 114px;
    left: 40px;
    color: white;
}

#p-medium{
    position: absolute;
    font-size: 20px;
    font-family: 'Nino';
    left: 40px;
    top: 150px;
    color: white;
}

.product-div button{
    position: absolute;
    width: 161px;
    height: 42px;
    border-radius: 6px;
    background-color: #FFFFFF;
    border: none;
    font-size: 12px;
}

.orange-div img{
    position: absolute;
    right: -5px;
    bottom: -5px;
}
.orange-div button{
    left: 40px;
    top: 192px;
}

.blue-div{
    /* width: 388px;
    height: 200px; */
    background-color: #3CABE0;
    position: relative;
    border-radius: 10px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.blue-div img{
    position: absolute;
    left: 0;
    bottom: 0;
}

.blue-div button{
    position: absolute;
    right: 40px;
    bottom: 20px;
}

.blue-div #p-medium{
    left: 74px;
    top: 76px;
}

.blue-div #p-big{
    left: 74px;
    top: 46px;
}

.green-div{
    /* width: 378px;
    height: 200px; */
    position: relative;;
    background-color: #74B42C;
    grid-column: 3/4;
    grid-row: 1/2;
    border-radius: 10px;
}

.green-div #p-medium{
    left: 40px;
    top: 43px;
}

.green-div #p-big{
    left: 40px;
    top: 76px;
}

.green-div button{
    bottom: 20px;
    left: 40px;
}

.green-div img{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 200px;
}

.yellow-div{
    background-color: #F5AD00;
    grid-column: 2/4;
    grid-row: 2/3;
    position: relative;
    border-radius: 10px;
}

#cat1{
    position: absolute;
    left: 0px;
    bottom: 0px;
}

#cat2{
    position: absolute;
    right: -30px;
    bottom: -44px;
}

.yellow-div #p-medium{
    position: absolute;
    left: 303px;
    top: 43px;
}

.yellow-div #p-big{
    left: 303px;
    top: 76px;
}

.yellow-div button{
    left: 303px;
    bottom: 40px;
}


/***********Food************/

.food{
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.arrow-cont{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.pedigree{
    position: relative;
    width: 277px;
    height: 441px;
    background-color: white;
}

.food-img{
    position: absolute;
    top: 30px;
    left: 56px;
}

.orange-box{
    width: 44px;
    height: 44px;
    background-color: #F5621F;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
}

#food-name{
    font-size: 18px;
    position: absolute;
    top: 209px;
    left: 30px;
}

#food-text{
    font-size: 12px;
    color: #6E6E6E;
    position: absolute;
    left: 30px;
    top: 236px;
}

.weight1{
    width: 105px;
    height: 35px;
    background-color: #F8F8F8;
    position: absolute;
    left: 30px;
    top: 284px;
    color: black; 
    display: flex;
    justify-content: center;
    align-items: center;   
}

.weight2{
    width: 105px;
    height: 35px;
    background-color: #E7E7E7;
    position: absolute;
    left: 142px;
    top: 284px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weight3{
    width: 105px;
    height: 35px;
    background-color: #F8F8F8;;
    position: absolute;
    left: 30px;
    top: 326px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weight4{
    width: 105px;
    height: 35px;
    background-color: #F8F8F8;;
    position: absolute;
    left: 142px;
    top: 326px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price{
    width: 98px;
    height: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    left: 32px;
    bottom: 32px;

}

.new-price{
    color: #F5621F;
    font-size: 24px;
}

.old-price{
    font-size: 12px;
    text-decoration: line-through;
}

.shopping-cart-green{
    width: 34px;
    height: 34px;
    background-color: #74B42C;
    position: absolute;
    right: 30px;
    bottom: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-black{
    font-size: 24px;
    color: black;
}

.shopping-cart-orange{
    width: 34px;
    height: 34px;
    background-color: #F5621F;
    position: absolute;
    right: 30px;
    bottom: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.supply{
    font-size: 14px;
    position: absolute;
    left: 27px;
    bottom: 32px;
}

.normal-price{
    font-size: 24px;
}

.added{
    width: 114px;
    height: 34px;
    background-color: #F5621F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    right: 30px;
    bottom: 30px;
}


/*************Promo**********/

.promo{
    display: flex;
    margin: 70px auto;
    width: 87%;
    justify-content: space-between;
    align-items: center;
}

.promo-cont{
    width: 378px;
    height: 500px;
    background-color: white;
    position: relative;
    text-align: center;
}

#zootopia{
    position: absolute;
    top: 149px;
    right: 30px;
}

#zootopia1{
    position: absolute;
    right: -20px;
    bottom: -48px;
}

.promo-text1{
    position: absolute;
    left: 73px;
    top: 75px;
    font-size: 24px;
}

.promo-text2{
    position: absolute;
    left: 73px;
    top: 100px;
    font-size: 24px;
}

.promo-middle-cont{
    width: 378px;
    height: 500px;
    background-color: #FEE02E;
    position: relative;
    text-align: center;
}

.promo-middle-cont button{
    position: absolute;
    width: 161px;
    height: 42px;
    border-radius: 6px;
    background-color: #FFFFFF;
    border: none;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 40px;
    top: 131px;
}

.promo-middle-text1{
    font-size: 18px;
    position: absolute;
    left: 40px;
    top: 43px;
}

.promo-middle-text2{
    font-size: 24px;
    position: absolute;
    left: 40px;
    top: 70px;
}

.promo-end-cont{
    width: 378px;
    height: 500px;
    position: relative;
    background-color: white;
}

.promo-end-text{
    width: 179px;
    font-size: 18px;
    position: absolute;
    left: 40px;
    top: 43px;
}

.arrow-cont-black{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30px;
    top: 231px;
}

.arrow-cont-black1{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 231px;
}

#pedigree-img{
    position: absolute;
    left: 58px;
    top: 115px;
}

.promo-end-name{
    font-size: 18px;
    position: absolute;
    top: 369px;
    left: 150px;
}

.promo-end-cont button{
    width: 161px;
    height: 42px;
    background-color: black;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 12px;
    position: absolute;
    left: 109px;
    bottom: 30px;
}

.turtle-cont{
    width: 87%;
    height: 250px;
    background-color: #F5AD00;
    border-radius: 10px;
    margin: 70px auto;
    position: relative;
}

.turtle-cont img{
    position: absolute;
    right: 40px;
    bottom: -85px;
}

.turtle-cont p{
    color: white;
    font-size: 32px;
    position: absolute;
    left: 101px;
    top: 56px;
    width: 509px;
}

.turtle-cont button{
    font-size: 12px;
    width: 161px;
    height: 42px;
    position: absolute;
    left: 101px;
    bottom: 50px;
}

.brands-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin: 0 auto;
}

.brand-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 176px;
    height: 90px;
    border-radius: 10px;
}


/**************Footer********/

footer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 211px;
    margin: 130px auto 130px 90px;
    color: #6E6E6E;
    font-size: 12px;
}

.footer-first{
    width: 378px;
}

.footer-first p{
    height: 110px;
    line-height: 23px;
    margin-top: 23px;    
}

.footer-second{
    width: 90px;
    height: 100%;
}

.nav-header{
    font-size: 14px;
    font-weight: 500px;
    color: black;
    margin-bottom: 36px;
}

footer li{
    margin-bottom: 18px;
    line-height: 24px;
}

footer li:hover{
    background-color: #3CABE0;
    text-align: center;
    color: white;
}

.fb-box{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    border: 1px solid #E7E7E7;
}

.end-logos{
    width: 143px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 90px;
    bottom: 46px;
}

.responsive-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    display: none;
}

.home{
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.home img{
    margin-bottom: 8px;
}

.home p{
    font-size: 14px;
}

.burger-menu{
    background-color: #74B42C;
    width: fit-content;
    height: fit-content;
    padding: 15px 11.5px;
    border-radius: 50%;
}

/**************AboutUs****************/
.about-us{
    background-color: white;
}

.page-location{
    margin-left: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    width: fit-content;
}

.location-p{
    color: #C8C8C8;
}

.page-location img{
    margin: 62px 20px;
}

.orange-rectangle{
    width: 70%;
    height: 400px;
    background-color: #F5621F;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-about{
    margin-top: 65px;
    margin-bottom: 31px;
    font-size: 28px;
    line-height: 34px;
    font-weight: 500px;
}

.about-p{
    font-size: 14px;
    line-height: 24px;
    width: fit-content;
}

.about-text-container{
    width: 55%;
    margin: 0 auto;
}

/******************Contact*************/
.contact-page{
    display: flex;
}

.map{
    width: 479px;
    height: 400px;
    margin-left: 191px;
    margin-right: 126px;
}

.contact-box{
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.contact-box-header{
    font-size: 14px;
    color: #9C9C9C;
    line-height: 17px;
}

.contact-box img{
    margin-right: 33px;
}

.contact-box p{
    font-size: 18px;
    line-height: 22px;
    margin-top: 5px;
}

.linear{
    background: linear-gradient(to right,
    orange,
    rgb(21, 188, 244),
    red,
    rgb(1, 207, 1),
    rgb(230, 128, 4)   ,
    rgb(247, 9, 247),
    rgb(182, 179, 179),
    rgb(3, 84, 3),
    black);
-webkit-background-clip: text;
color: transparent;    
}

.language{
    display: none;
    font-size: 14px;
    width: fit-content;
}
.language p{
    margin-left:10px;
}

@media screen and (max-width: 760px) {
    .contact-page{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 150px;
    }
    .language{
        display: flex;
    }
    .burger-icon{
        display: none;
    }
    .page-location p{
        margin-top: 32px;
        margin-bottom: 72px;
    }
    .header-icon-cont{
        display:none;
    }
    .location-p{
        display: none;
    }
    .map{
        margin: 30px 0px;
    }
    .page-location img{
        display:none;
    }
    footer{
        display:none;
    }
    
    .end-logos{
        display: flex;
        bottom: 150px;
        left:40%;
    }

    .responsive-footer{
        display: flex;
        position: absolute;
        bottom: 10px;
    }

    .big-btn{
        display: none;
    }
    
    .four-cont{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .four-box{
        margin-bottom: 15px;
    }

    .product-div{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10,100px);
        width: 350px;
        margin: 0 auto;
        row-gap: 30px;
        text-align: center;

    }
    .orange-div{
        grid-row: 1/4;
        grid-column: 1/2;
    }
    #p-small{
        left: 20px;
        top: 32px;
    }
    #p-big{
        left: 16px;
        top: 76px;
    }
    #p-medium{
        left: 16px;
        top: 106px;
        bottom: auto;
        right: auto;
    }   
    .orange-div button{
        position: absolute;
        left: 16px;
        bottom: 30px;
        top: auto;
    }

    .blue-div{
        grid-row: 4/6;
        grid-column: 1/2;
        margin-top: 30px;
    }

    .green-div{
        grid-row: 6/8;
        grid-column: 1/2;
    }

    .yellow-div{
        grid-row: 8/11;
        grid-column: 1/2;
    }

    .yellow-div #p-medium{
        left: 16px;
    }
    .yellow-div #p-big{
        left: 16px;
    }

    .yellow-div button{
        left: 170px;
    }
    #cat2{
        display: none;
    }

    .small-header-p{
        display: none;
    }
    .between-page img{
        display: block;
    }
    .arrow-cont{
        display: none;
    }
    .pedigree{
        margin-top: 30px;
    }
    .food{
        display: block;
        width: fit-content;
        margin: 30px auto;
    }
    .promo{
        display: block;
        width: fit-content;
        margin: 30px auto;
    }

    .turtle-cont{
        height: 240px;
        width: 286px;
        margin: 0 auto;
        z-index: 5;
    }
    .turtle-cont p{
        width: 171px;
        font-size: 18px;
        left: 20px;
        top: 23px;
    }
    .turtle-cont button{
        left: 20px;
        bottom: 50px;
        z-index: 3;
    }
    .turtle-cont img{
        width: 190px;
        bottom: -25px;
        right: -50px;
        z-index: 4;
    }
    .brands-cont{
        flex-wrap: wrap;
        margin-bottom: 150px;
    }
    .brand-logo{
        margin-top: 15px;
    }
}



@media screen and (max-width: 1024px){
    .product-div{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10,100px);
        width: 350px;
        margin: 30px auto;
        row-gap: 30px;
        text-align: center;

    }
    .orange-div{
        grid-row: 1/4;
        grid-column: 1/2;
    }
    #p-small{
        left: 20px;
        top: 32px;
    }
    #p-big{
        left: 16px;
        top: 76px;
    }
    #p-medium{
        left: 16px;
        top: 106px;
        bottom: auto;
        right: auto;
    }   
    .orange-div button{
        position: absolute;
        left: 16px;
        bottom: 30px;
        top: auto;
    }

    .blue-div{
        grid-row: 4/6;
        grid-column: 1/2;
        margin-top: 30px;
    }

    .green-div{
        grid-row: 6/8;
        grid-column: 1/2;
    }

    .yellow-div{
        grid-row: 8/11;
        grid-column: 1/2;
    }

    .yellow-div #p-medium{
        left: 16px;
    }
    .yellow-div #p-big{
        left: 16px;
    }

    .yellow-div button{
        left: 170px;
    }
    #cat2{
        display: none;
    }
    .promo{
        display: block;
        width: fit-content;
        margin: 30px auto;
    }

    .brands-cont{
        flex-wrap: wrap;
        margin-bottom: 150px;
    }
    .brand-logo{
        margin-top: 15px;
    }

    .arrow-cont{
        display: none;
    }
}