body{
    background-color: #FAFAFA;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border-radius: 0 0 50px 50px;
    background-color: white;
    padding: 0 30px 10px 15px;
}

.header-icon-cont{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 49px;
}

.header-icon{
    margin-left: 20px;
    text-align: center;
}
